PORT=5000
NODE_ENV=development

GEMINI_API_KEY=

# MySQL & MongoDB URLs
DATABASE_URL=mysql://avnadmin:AVNS_3VTOKzmNE0DjKTGV1a6@nlq-mysql-db-nlq56.b.aivencloud.com:27410/defaultdb?
MONGODB_URI=mongodb+srv://devansh_db_user:ZpLDaZjsKmA4Cwli@aqua-nexa.dohwyoa.mongodb.net/

# Firebase Auth
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
